<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:inline="javascript">


</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    .list th {
      background-color: #cccccc;
      padding: 5px;
    }
    .list td {
      padding: 5px;
    }
  </style>
</head>
<body>
		イベント名:<br><span th:text="${event.EVENT_NAME}"></span></br>
		コメント:<br><span th:text="${event.REMARKS}"></span></br>
		<br></br>

<table class="list" align="left">
<tr>
      <th>候補日</th>
      <th>〇</th>
      <th>△</th>
      <th>×</th>
    </tr>
    <tr th:each="list:${listanswer}">
      <td th:text="${list.SET_DATE}" rowspan="1">xx</td>
      <td th:text="${list.MARU}">name</td>
      <td th:text="${list.SANKAKU}">name</td>
      <td th:text="${list.BATU}">name</td>
    </tr>
    </table>
    <table class="list">
<th th:text="${user.USER_NAME}" th:each="user:${userRemarks}"/>
   <tbody th:each="map : ${map}">
	<tr>
	<td th:text="${answer}" th:each="answer : ${map.value}" />
    </tr>
    </tbody>
</table>
</body>
</html>
