<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
  <tr>
    <th>イベント登録完了</th>
  </tr>
  </table>
    	<p>出欠回答URL：<input type="text" size="30" th:value="*{URL}" /></p>

<form action="#" th:action="@{/view/answerRes}" th:object="${resultForm}" method="post">
<input type="hidden" th:value="${ID.EVENT_ID}" name="eventID" />
		<p><input type="submit" value="出欠参照画面へ" /></p>
</form>
</body>
</html>
